{% extends 'gestion_personas/layoutNav.html' %}

<!-- ======= Extiende de layoutNav para la pagina inicial ======= -->


{% load static %}

{% block content %}

<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dashboard Docentes</h5>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Nombre del curso</th>
                  <th scope="col">Nombre y apellido del alumno</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for curso, alumnos in cursos_con_alumnos.items %}
                    {% if alumnos %}
                        {% for alumno in alumnos %}
                            {% if forloop.first %}
                                <tr>
                                    <td rowspan="{{ alumnos|length }}">{{ curso }}</td>
                                    <td>{{ alumno.nombre }} {{ alumno.apellido }}</td>
                                    <td>
                                        <a href="#" class="btn btn-success">Ver alumno</a>
                                        <button type="button" class="btn btn-danger"><i class="bi bi-exclamation-octagon"></i></button>
                                        <button type="button" class="btn btn-warning"><i class="bi bi-exclamation-triangle"></i></button>
                                        <button type="button" class="btn btn-info"><i class="bi bi-info-circle"></i></button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td></td>
                                    <td>{{ alumno.nombre }} {{ alumno.apellido }}</td>
                                    <td>
                                        <a href="{% url 'gestion:ver_alumno' id=alumno.id %}" class="btn btn-success">Ver alumno</a>
                                        <button type="button" class="btn btn-danger"><i class="bi bi-exclamation-octagon"></i></button>
                                        <button type="button" class="btn btn-warning"><i class="bi bi-exclamation-triangle"></i></button>
                                        <button type="button" class="btn btn-info"><i class="bi bi-info-circle"></i></button>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>{{ curso }}</td>
                            <td colspan="2">No hay alumnos en este curso</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            
            
            
            
            

            </table>
            
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->


{% endblock %}


