{% extends 'gestion_publicas/home/layout.html' %}
 
 <!-- ======= Extiende de layout para la pagina inicial ======= -->
 

 
 {% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Escribamos el futuro<br>en líneas de código </h1>
      <h2>Preparamos a los estudiantes para la demanda de las empresas más innovadoras del área de programación.</h2>
      <a href="{% url 'register' %}" class="btn-get-started">Elegí que hoy sea el primer día de tu nueva vida. </a>
    </div>
  </section><!-- End Hero -->

  

  <main id="main">

  <!-- ======= Incluir about Section ======= -->
  
  {% include 'gestion_publicas/home/about.html' %}

  <!-- ======= Incluir popular Categorias Section ======= -->

  {% include 'gestion_publicas/home/course-details.html' %}

  <!-- ======= Incluir courses Section ======= -->

  {% include 'gestion_publicas/home/courses.html' %}


  <!-- ======= Incluir trainers Section ======= -->

  {% include 'gestion_publicas/home/trainers.html' %}

  </main><!-- End #main -->

  {% endblock %}